# Docker container settings
CONTAINER_NAME=SilRok_Server

CONTAINER_USER=root
CONTAINER_UID=0
CONTAINER_HOME=/root
CONTAINER_WORK_DIR=/workspaces/silrok
CONTAINER_UV_GROUP=

CONTAINER_VOLUME=F:/docker-volume
CONTAINER_GPU_ID=0

API_KEY_PATH=/your/api_keys/path
HF_TOKEN=your_api_token

TZ=Etc/UTC

HOST_PORT=8080
CONTAINER_PORT=443

# Application settings
PYTHONPATH=/workspaces/silrok

GOOGLE_CLOUD_PROJECT_ID=silrokai
GOOGLE_CLOUD_REGION=asia-northeast3
GOOGLE_CLOUD_SERVICE_ACCOUNT_PATH=/workspaces/silrok/.keys/google_cloud.json
CONFIG_PATH=/workspaces/silrok/config.yml
LOG_DIR=/workspaces/silrok/log

