PYTHONPATH=/workspaces/dev
GOOGLE_CLOUD_PROJECT_ID=project_id
GOOGLE_CLOUD_REGION=asia-northeast3
GOOGLE_CLOUD_SERVICE_ACCOUNT_PATH=/workspaces/dev/.keys/google_cloud.json

CONFIG_PATH=/workspaces/dev/config.yml

LOG_DIR=/workspaces/dev/log

CONTAINER_USER=root
CONTAINER_UID=0
CONTAINER_HOME=/root
CONTAINER_WORK_DIR=/workspaces/dev
