CONTAINER_NAME=SilRok_dev

CONTAINER_USER=root
CONTAINER_UID=0
CONTAINER_HOME=/root
CONTAINER_WORK_DIR=/workspaces/silrok
CONTAINER_UV_GROUP=dev

CONTAINER_VOLUME=F:/docker-volume
CONTAINER_GPU_ID=0

API_KEY_PATH=your/api/key/path

TZ=Etc/UTC

HOST_PORT=8000
CONTAINER_PORT=8000

